body {
  color: #fff;
  background: linear-gradient(to right, #1f1204, #25126d);;
  font-family: sans-serif;
}

header {
  padding: 10px 30px;
}

header h1 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .copyright {
  font-size: 14px;
  color: white;
  text-align: center;
}
footer .copyright a {
  color: white;
}
footer .copyright a:hover {
  color: white;
}
footer .copyright:before {
  content: "©";
}

.rs-logo{
  background-image: url('assets/png/download.png');
  width: 100px;
  height: 50px;
  background-size: cover; 
  background-position: center;
}

.students-link__link{
  text-decoration: none;
  color: white;
  transition: 1s;
}

.students-link__link:hover{
  color: #3fcc59;;
}


