.burger-menu {
    display: none;

    @include media-tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 6px;

        width: 44px;
        height: 44px;
    
        border: 1px solid $color-border-dark;
        border-radius: 50%;
    }
}
.burger-menu span {
    display: block;
    width: 18px;
    height: 2px;
    background-color: $color-border-dark;
    border-radius: 100px;
}