.button {
    @include font($size: 1.6rem, $weight: 600, $line-height: 150%);

    color: $color-text-dark;
}

.button_primary {
    width: 200px;

    padding: 20px 78px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    background-color: $color-background-body;
    border: none;
    border-radius: 100px;
}

.button_app {
    display: flex;
    width: 200px;
    padding: 12px 20px;
    align-items: center;
    gap: 8px;

    border-radius: 100px;
    border: 1px solid $color-border-dark;

    background-color: $color-background-body;
}