.button {
    @include font($size: 1.6rem, $weight: 600, $line-height: 150%);

    color: $color-text-dark;
}

.button_modal {
    width: 100%;

    padding: 20px 78px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    background-color: $color-background-body;
    border-radius: 100px;

    border: 1px solid $color-border-dark;

    cursor: pointer;
    @include font($size: 1.6rem, $weight: 600, $line-height: 150%);

    transition: 1s;
}

.button_modal:hover {
    background-color: $color-border-dark;
    color: $color-text-light;
}

.button_primary {
    width: 200px;

    padding: 20px 78px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    background-color: $color-background-body;
    border: none;
    border-radius: 100px;

    cursor: pointer;

}

.button_primary .button_primary-name {
    position: relative;
    right: -10px;

    transition: 1s;

    @include media-tablet {
        right: 0px;
    }
}

.button_primary .menu-link__icon {
    opacity: 0;
    transition: 1s;
    visibility: hidden;

    @include media-tablet {
        visibility: visible;
        opacity: 1;
    }
}

.button_primary:hover .menu-link__icon {
    opacity: 1;
    transition: 1s;
    visibility: visible;
}

@include media-tablet {
    .button_primary .menu-link__icon  {
        transition: none;
    }   
}

.button_primary:hover .button_primary-name {
    right: 0px;

    transition: 1s;
}






.button_app {
    display: flex;
    width: 200px;
    padding: 12px 20px;
    align-items: center;
    gap: 8px;

    border-radius: 100px;
    border: 1px solid $color-border-dark;

    background-color: $color-background-body;

    transition: background-color 1s;

    cursor: pointer;

    @media (hover: hover) {
        &:hover {
            background-color: $color-border-dark;
        }
    
        &:hover .mobile-app__button-name-container {
            transition: 1s;
            color: $color-text-light;
        }
    
        & path {
            transition: 1s;
        }
    
        &:hover path {
            transition: 1s;
            fill: #E1D4C9;
        }
    }   
}