.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.pagination__stick {
    display: block;

    width: 40px;
    height: 4px;

    border-radius: 100px;

    background-color: $color-border-light;
}

.pagination__stick {
    position: relative;
    overflow: hidden;
}

.pagination__stick .pagination__indicator {
    width: 40px;
    height: 4px;
    position: absolute;
    left: -40px; /* Начальное значение должно быть отрицательным */
    display: block;
    background-color: $color-border-dark;
    transition: left 1s;
}
