.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.pagination__stick {
    display: block;

    position: relative;
    overflow: hidden;

    width: 40px;
    height: 4px;

    border-radius: 100px;

    background-color: $color-border-light;
}


.pagination__stick_active .pagination__indicator {
    display: block;
    height: 100%;
    width: 0;
    background-color: $color-border-dark;
    transition: width 0.1s;
}

