.main-menu {
    flex: 1;
}

.menu h1 {
    color: $color-text-dark;
    text-align: center;

    @include font($size: 6rem, $weight: 600, $line-height: 125%);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu__tags-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.menu__tag {
    padding: 8px 16px 8px 8px;

    @include font($size: 1.6rem, $weight: 600, $line-height: 150%);
    color: $color-text-dark;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border: 1px solid $color-border-light;
    
    border-radius: 100px;
}
.menu__tag-icon {
    display: block;
}
.menu__tag-icon-wrapper {
    width: 30px;
    height: 30px;

    display: flex;
    padding: 3px 7px;
    justify-content: center;
    align-items: center;

    background-color: $color-border-light;

    border-radius: 50%;
}

.menu__tag_active {
    background-color: $color-background-container;
    color: $color-text-light;
}

.menu__tea-category {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}
.menu__food-item {
    width: 310px;
    border: 1px solid $color-border-light;
    border-radius: 40px;
}
.menu__item-img {
    display: block;
    border-radius: 40px;

    width: 100%;
    height: auto;
}
.menu__item-description {
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}
.menu__item-name {
    @include font($size: 2.4rem, $weight: 600, $line-height: 125%);
}
.menu__item-about {
    @include font($size: 1.6rem, $weight: 400, $line-height: 150%);
    text-align: left;
}
.menu__item-price {
    @include font($size: 2.4rem, $weight: 600, $line-height: 125%);
}