.gallow__block {
    position: relative;
    background: url("../assets/svg/gallows.svg") center/contain no-repeat;
    width: 300px;
    height: 400px;
}

.gallow__head {
    position: absolute;

    right: 38px;
    top: 100px;

    background: url("../assets/svg/head.svg") center/contain no-repeat;
    width: 50px;
    height: 50px;
}

.gallow__body {
    position: absolute;

    right: 60px;
    top: 150px;

    background: url("../assets/svg/body.svg") center/contain no-repeat;
    width: 5px;
    height: 70px;
}

.gallow__hand-one {
    position: absolute;

    right: 65px;
    top: 150px;

    background: url("../assets/svg/hand-one.svg") center/contain no-repeat;
    width: 33px;
    height: 40px;
}

.gallow__hand-two {
    position: absolute;

    right: 27px;
    top: 150px;

    background: url("../assets/svg/hand-two.svg") center/contain no-repeat;
    width: 33px;
    height: 40px;
}

.gallow__leg-one {
    position: absolute;

    right: 65px;
    top: 220px;

    background: url("../assets/svg/leg-one.svg") center/contain no-repeat;
    width: 33px;
    height: 40px;
}

.gallow__leg-two {
    position: absolute;

    right: 27px;
    top: 220px;

    background: url("../assets/svg/leg-two.svg") center/contain no-repeat;
    width: 33px;
    height: 40px;
}
