.keyboard {
  grid-area: right-bottom;

  display: flex;
  flex-wrap: wrap;

  align-self: flex-start;
  justify-content: center;

  max-width: 550px;

  @media screen and (max-width: 700px) {
    order: 1;
  }
}

.keyboard__key {
  border: 1px solid black;
  border-radius: 10px;
  width: 30px;
  height: 30px;

  padding: 5px;
  margin: 5px;

  text-align: center;

  @media screen and (max-width: 700px) {
    background-color: white;
  }
}

.keyboard__key_active {
  background-color: rgb(132, 132, 209);
}

.keyboard__key_disabled {
  background-color: rgb(132, 132, 209);
}
