.edit-menu {
    display: none;
    position: absolute;
    width: 100px;
    border: 1px solid black;
    background-color: white;
}

.edit-menu__edit, .edit-menu__delete {
    text-align: center;
}

.edit-menu__edit:hover, .edit-menu__delete:hover {
    cursor: pointer;
    background-color: rgb(243, 233, 233);
}