@mixin font ($size, $height: $size, $weight: 600, $style: normal, $line-height) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $line-height;
}

@mixin hover-link-header() {
    @media (hover: hover) {
        &::before {
            content: '';
            position: absolute;

            bottom: 0;
            left: 50%;

            transform: translateX(-50%);

            width: 0;
            height: 2px;

            background-color: #403F3D; /*?*/

            transition: 1s;

            opacity: 0;
        }
        &:hover::before {
            width: 100%;
            transition: 1s;

            opacity: 1;
        }
    }
}

@mixin hover-link-footer() {
    @media (hover: hover) {
        &::before {
            content: '';
            position: absolute;

            bottom: -5px;
            left: 50%;

            transform: translateX(-50%);

            width: 0;
            height: 2px;

            background-color: #E1D4C9; /*?*/

            transition: 1s;

            opacity: 0;
        }
        &:hover::before {
            width: 100%;
            transition: 1s;

            opacity: 1;
        }
    }
}

@mixin media-laptop {
    @media (max-width: $content-width) { @content; }
}

@mixin media-tablet {
    @media (max-width: $tablet-width) { @content; }
}
  
@mixin media-mobile {
    @media (max-width: $mobile-big-width) { @content; }
}

@mixin media-mobilesmall {
    @media (max-width: $mobile-small-width) { @content; }
}