%font-inter {
    font-family: 'Inter', sans-serif;
}

%hover-link {
    content: '';
    position: absolute;

    bottom: 0;
    left: 50%;

    transform: translateX(-50%);

    width: 0;
    height: 2px;

    background-color: #403F3D; /*?*/

    transition: 1s;

    opacity: 0;
}

%before-hover-link {
    width: 100%;
    transition: 1s;

    opacity: 1;
}