* {
  box-sizing: border-box;
}

.puzzle-container {
  margin: 0 auto;
  display: block;
  width: 700px;
  height: 720px;
  background-position: center;
  background-size: cover;
  border-top: 1px solid black;
}

.row-container-collecting {
  display: flex;
}

.collecting-field {
  flex-grow: 1;
  border: 1px solid black;
}

.collecting-container {
  margin: 0 auto;
  display: block;
  width: 700px;
  height: 720px;
  background-color: gray;
}

.row-container {
  display: flex;
}
.puzzle-piece {
  flex-grow: 1;
  border: 1px solid yellow;
  color: black;
  text-shadow: 0 0 5px white;

  background-color: rgba(128, 128, 128, 0.5);
  font-size: 14px;
}
