* {
  box-sizing: border-box;
}

.main {
  height: 100vh;
  overflow: hidden;
}

.puzzle-container {
  margin: 20px auto;
  display: block;
  width: 700px;
  height: 500px;
  background-position: center;
  background-size: cover;
}

.row-container-collecting {
  display: flex;
}

.collecting-field {
  flex-grow: 1;
  border: 1px solid black;
}

.collecting-field_active {
  background-color: aqua;
}

.collecting-container {
  margin: 0 auto;
  display: block;
  width: 700px;
  height: 500px;
  background-color: rgba(128, 128, 128, 0.5);
}

.row-container {
  display: flex;
}
.puzzle-piece {
  // flex-grow: 1;
  border: 1px solid black;
  color: black;
  text-shadow: 0 0 5px white;

  background-color: rgba(128, 128, 128, 0.5);
  font-size: 14px;
}
