button {
  display: block;

  border: 2px dotted gray;

  background-color: white;

  padding: 5px;

  border-radius: 5px;

  cursor: pointer;

  transition: 1s;
}

button:hover {
  background-color: aqua;
}

.button_active {
  border: 1px solid black;
}
