.table-nonograms {
  border-collapse: collapse;
}
.table-nonograms td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.table-nonograms td:nth-child(5n + 6) {
  border-right-width: 4px;
}

.table-nonograms tr:nth-child(5n + 6) td {
  border-bottom-width: 4px;
}
.table-nonograms td:nth-child(2) {
  border-left-width: 4px;
}

.table-nonograms tr:nth-child(2) td {
  border-top-width: 4px;
}

.table-nonograms__cell_keys-left {
  padding-right: 5px;
  letter-spacing: 5px;
  text-align: right;
}
.table-nonograms__cell_keys-top span {
  display: block;
  text-align: center;
}
