.table-nonograms {
  border-collapse: collapse;
  grid-column: 1 / span 2;
}
.table-nonograms td {
  border: 1px solid black;
  width: 30px;
  height: 30px;
}

.table-nonograms__cell {
  position: relative;
}

.table-nonograms td:nth-child(5n + 6) {
  border-right-width: 4px;
}

.table-nonograms tr:nth-child(5n + 6) td {
  border-bottom-width: 4px;
}
.table-nonograms td:nth-child(2) {
  border-left-width: 4px;
}

.table-nonograms tr:nth-child(2) td {
  border-top-width: 4px;
}

.table-nonograms__cell_keys-left {
  padding-right: 5px;
  letter-spacing: 5px;
  text-align: right;
}
.table-nonograms__cell_keys-top span {
  display: block;
  text-align: center;
}

// .table-nonograms__cell_answer {
// }
.table-nonograms__cell_answer_visible {
  background-color: yellow;
  opacity: 0.5;
}

.table-nonograms_player-point {
  background-color: black;
}

.table-nonograms_player-cross {
  background-image: url("./assets/svg/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
}
