.top-menu-nonograms {
  grid-column: 1 / span 2;

  padding: 10px;

  border-bottom: 1px solid black;
}
.top-menu-nonograms__lvl-block {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 5px;
}
.top-menu-nonograms__choose-lvl {
  display: flex;
  justify-content: center;
  gap: 5px;
}
