.button {
    @include font($size: 1.6rem, $weight: 600, $line-height: 150%);

    color: $color-text-dark;
}

.button_primary {
    width: 200px;

    padding: 20px 78px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    background-color: $color-background-body;
    border: none;
    border-radius: 100px;
}